<div id="item-growth" class="work-item">
	<div class="status_item">
		<%= image_tag "home/placeholderCircle.png" %>
		<h2>Access growth hacking library</h2>
		<div class="status-box">
			<%= button_tag "ACCESS", :class => "btn-start-wi btn btn-primary btn-large" %>
		</div>
	</div>
</div>