<div id="item-growth" class="work-item">
	<div class="status_item">
		<%= image_tag "home/placeholderCircle.png" %>
		<div class="status-box fresh">
			<h2>Access growth hacking&nbsp;&nbsp;<span class="highlight">library</span>&nbsp;&nbsp;</h2rou>
		</div>
		<%= link_to "ACCESS", library_path, :class => "btn-start-wi btn btn-primary btn-large" %>
	</div>
</div>