<html>
	<head>
	</head>

	<body style="font-family: arial,verdana,sans-serif;font-size: 14px;">
		<table style="margin:auto; width:575px;">
			<tr>
				<td style="text-align:center;"> <!--Header-->
					<a href="http://www.getgumball.com"> 
						<%= image_tag "http://www.sproutzly.com/assets/logos/logo_full.png.png", :style => "margin:0px auto;" %>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<hr style="width:80%; margin: 5px auto 20px auto; color:#CCCCCC; display:block;" />
				</td>
			</tr>
			<tr>
				<td><!--Main Body-->
					<h2>You're signed up for the newsletter!</h2>
					<p>Now that you're signed up for the newsletter, we can keep you informed about ways to make sure you are getting the most out of your online brand! Look out for monthly emails from us detailing news, growth hack ideas, and special promotions.</p>
				</td>
			</tr>
			<tr>
				<td style="text-align:center"> <!--Footer-->
					<hr style="width:80%; margin: 20px auto 20px auto; color:#CCCCCC; display:block;" />
					<p style="margin-top: 20px; color:#999999; font-size:12px; font-family:'Georgia'">To ensure delivery to your inbox, please add team@sproutzly.com to your address book.</p>
				</td>
			</tr>

		<table>
	</body>
</html>