<%- model_class = User -%>
<div class="page-header">
	<button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">×</button>
  <h2 style="margin-left: 10px;">REGISTER</h2>
</div>
<%= render :partial => 'form' %>
