<div class="container">

  <div class="header">

      <div class="nav">
        <div id="btnLogin" class="nav-item">Login</div>
        <div id="btnGoPro" class="nav-item">Go Pro</div>
      </div>
    <div class="overlay">

      <div class="topLeftLogo"></div>


      <div class="getGrowingBg">

        <div class="getGrowingText">
          <h1>Get Growing Online Today</h1>
          <h2>Your own growth hacking team for only $<%= Settings.flat_rate_cost %></h2>
        </div>

        <div class="startGrowingBtnTop"></div>

      </div>

    </div>

  </div>


  <div class="containerBody">
    <br>
    <p class="bodyText">Not everyone can afford their own growth hacking team. It takes a special blend of expertise to execute an effective strategy. Sproutzly will walk you through 5 essential steps to get your online brand influence, visitors, and users.</p>



  </div>


</div>