<div class="">
  <div class="header">
    <div class="nav">
      <a href="<%= login_path %>"><div id="btnLogin" class="nav-item">Login</div></a>
      <div id="btnGoPro" class="nav-item">Go Pro</div>
    </div>
    <div class="overlay">
      <div class="topLeftLogo"></div>
      <div class="getGrowingBg">
        <div class="getGrowingText">
          <h1>Get Growing Online Today</h1>
          <h2>Your own growth hacking team for only $<%= Settings.flat_rate_cost %></h2>
        </div>
        <div class="startGrowingBtnTop">
          <a class="btn-continue" href="javascript:void(0);">
            <img src="/assets/home/btnStartGrowing.png">
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container containerBody">
    <br />
    <p class="bodyText">Not everyone can afford their own growth hacking team. It takes a special blend of expertise to execute an effective strategy. <span class="green">Sproutzly</span> will walk you through 5 essential steps to get your online brand influence, visitors, and users.</p>


    <div class="badages">

      <div class="badageRow row">

        <div class="badageAndText">

          <div class="span2">
            <img src="/assets/home/twitterCircle.png" alt="">
          </div>

          <div class="badageText span8">
            <p>Your first 1,000 Twitter followers. Get social proof immediately with
                our high quality twitter followers.
            </p>
          </div>
        </div>

        <div class="divider span12"></div>

      </div> <!-- end badageRow -->

      <div class="badageRow row">

        <div class="badageAndText">

          <div class="span2">
            <img src="/assets/home/facebookCircle.png" alt="">
          </div>

          <div class="badageText span8">
            <p>Your first 500 Facebook fans. No one wants to be the first person to
               try something out. We get you 500 quality FB fans for your brand, application, or online presence.
            </p>
          </div>
        </div>

        <div class="divider span12"></div>

      </div> <!-- end badageRow -->

    <div class="badageRow row">

      <div class="badageAndText">

        <div class="span2">
          <img src="/assets/home/influenceCircle.png" alt="">
        </div>

        <div class="badageText span8">
          <p>Get connected to key influencers in your market. Our network of key influencers will tweet about your online brand. Getting you essential influence, exposure, and value.
          </p>
        </div>
      </div>

      <div class="divider span12"></div>

    </div> <!-- end badageRow -->

    <div class="badageRow row">

        <div class="badageAndText">

          <div class="span2">
            <img src="/assets/home/placeholderCircle.png" alt="">
          </div>

          <div class="badageText span8">
            <p>Gain access to a library of over 100 growth hacks.</p>
          </div>
        </div>

        <div class="divider span12"></div>

    </div> <!-- end badageRow -->

    <div class="badageRow row">

        <div class="badageAndText">

          <div class="span2">
            <img src="/assets/home/growthCircle.png" alt="">
          </div>

          <div class="badageText span8">
            <p>Effective growth hacking means getting coming up with effective strategies for your specific situation. Our experienced growth hacking team will come up with a personalized strategy for you to impliment yourself.
            </p>
          </div>
        </div>

        <div class="divider span12"></div>

    </div> <!-- end badageRow -->

    <div class="badageRow row">
      <div class="span12 bottomRow">
        <p>Get all this an more for only $<%= Settings.flat_rate_cost %> flat rate.</p>
        <a class="btn-continue" href="javascript:void(0);">
          <img src="/assets/home/btnStartGrowing.png" alt="" >
        </a>
      </div>
    </div> <!-- end badageRow -->

    </div> <!--end badages-->

  </div> <!--end containerBody-->

</div> <!--end container-->