div#addon{

  p{
    font-size: 18px;
  }

  div.addonRow{

    margin-top: 30px;


    .block{
      background-color: #fff;
      border: 1px solid #7ebc56;
      -webkit-border-radius: 4px;
      text-align: center;
      padding: 20px 5px 28px 5px;

      h2{
        font-size: 33px;
        font-weight: 700;
        margin-bottom: 32px;
      }
    }

    .innerBlock{
      margin-left: 30%;
      margin-top: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
      -webkit-border-radius: 4px;
    }


  }

}
