/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flat-ui
 *= bootstrap-modal
 *= bootstrap/bootstrap-overrides
 */

body {
  background-image: url('/assets/pattern/hexellence.png');
}

img.main-logo {
 	width: 125px;
 	margin: 0px;
 	padding: 0px;
 }

 .clear {
 	clear:both;
 }

 .dk_container {
 	width: 200px;
 }

p.bodyText{
  font-size: 17px;
  text-align:center;
  width: 980px;
  margin:auto;
  font-family: georgia;
  line-height: 26px;
}

.highlight {
  color:#439700;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 3px 3px #000000;
  filter: dropshadow(color=#000000, offx=5, offy=2);
}

.green{
  color:#439700;
  font-weight: bold;
}

div.footer-btn-twitter-fb{
  padding-top: 16px;

  .spacer{
    padding-right: 100px;
  }
}

footer{
  margin-top: 30px;
}