@import "master";

div#dashboard {
	div.work-item {
		border: 3px solid $dark-green;
		background-color: $light-green;
		opacity: .85;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		width: 800px;
		margin: 0px auto 20px auto;
		color: #FFFFFF;
	}
	h2 {
		display: inline-block;
		margin-left: 15px;
		font-size: 33px;
	}
	div.status_item {
		padding: 16px 10px 20px 10px;
		border-bottom: dotted 3px #00661a;

		button {
			margin-top: 28px;
			// float: right;
		}
	}

	div.status-box {
		float: right;
	}

	textarea.txt-growth {
		width: 650px;
		height: 100px;
	}

	div.action_text{
		padding: 10px 10px 0px 10px;

		p{
			font-size: 17px;
		}
	}

	div.action-item{
		padding: 10px;
		display: none;
	}

	.txt-email{
		float: left;
		font-size: 23px;
	}

	#twitter_handle{
		width: 375px;
	}

	#facebook_url{
		width: 550px;
	}

	.btn-email{
		float: right;
	}

	.btn-select-growth{
		margin-top: 38px;
	}


}
