
div#dashboard {
	div.work-item {
		border: 3px solid $dark-green;
		background-color: $light-green;
		opacity: .85;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		width: 800px;
		margin: auto;
	}
	h2 {
		display: inline-block;
		margin-left: 15px;
	}
	div.status_item {
		padding: 10px;
		color: #FFFFFF;
		button {
			margin-top: 20px;
			float: right;
		}
	}
}
