@import "master";

div#dashboard {
	h1.title {
		text-align: center;
	}
	div.work-item {
		border: 4px solid $dark-green;
		background-color: $light-green;
		opacity: .85;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		width: 800px;
		margin: 0px auto 20px auto;
		color: #FFFFFF;
	}
	h2 {
		display: inline-block;
		//margin-left: 15px;
		font-size: 33px;
	}
	div.status_item {
		.fresh{
			margin-top: 20px;
		}
		padding: 16px 10px 20px 10px;
		//border-bottom: dotted 3px #00661a;
		img {
			vertical-align: top;
		}

		button {
			margin-top: 28px;
			float: right;
			width: 90px;
		}
	}

	div.status-box {
		vertical-align: middle;
		//float: right;
		//border: 1px solid red;
		margin-left: 15px;
		display: inline-block;
	}

	textarea.txt-growth {
		width: 650px;
		height: 100px;
	}

	div.action_text{
		padding: 10px 10px 0px 10px;

		p{
			font-size: 17px;
		}
	}

	div.action-item{
		padding: 10px;
		display: none;
		border-top: dotted 3px #00661a;
	}

	.txt-email{
		float: left;
		font-size: 23px;
	}

	#twitter_handle{
		width: 375px;
	}

	#facebook_url{
		width: 550px;
	}

	.btn-email{
		float: right;
	}

	.btn-select-growth{
		margin-top: 38px;
	}


}
