div.container{
  width:1000px;
  padding-bottom: 200px;
}

div.header {
   background-image: url('/assets/home/banner.png');
   width: 1000px;
   height: 360px;
   position: relative;
   border-bottom: solid 10px black;

   .overlay{
      margin-left: 20px;
   }

   .topLeftLogo{
      background-image: url('/assets/home/logoSmall.png');
      width: 200px;
      height: 68px;
   }

   div.nav{
    width: 190px;
    position: absolute;
    top:15px;
    right:15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;

    .nav-item{
      display: inline-block;
      padding:8px;
      font-size: 18px;
    }

    #btnLogin{
      border-right: solid 3px black;
      width: 75px;
    }

    #btnGoPro{
      width: 75px;
    }

   }

   .getGrowingBg{
      background: rgba(0, 0, 0, 0.4);
      width: 662px;
      height: 195px;
      margin-top: 12px;
      font-family: "myriad pro";
      color: white;
      padding:17px;

      .getGrowingText {

        h1{
          font-family: 'Varela Round';
          font-size: 48px;
          text-shadow: 2px 4.5px 4px #000000;
          filter: dropshadow(color=#000000, offx=5, offy=2);
          font-weight: none;
        }

        h2{
          font-size: 25px;
          font-family: verdana;
        }

      }

      .startGrowingBtnTop{
        // background-image: url('/assets/home/startGrowingBtnTop.png');
        // background-repeat: no-repeat;
        width: 222px;
        height: 50px;
        margin-left: 253px;
        margin-top: 21px;
      }

   }


}

div.containerBody{
  font-size: 17px;

  p.bodyText{
    text-align:center;
    width: 900px;
    margin:auto;
    font-family: georgia;
    line-height: 26px;

    .green{
      color:#439700;
      font-weight: bold;
    }


  }

  .badages{
    margin-left: 0px;
    padding-top:35px;
  }

  .badageRow{
    margin-top: 25px;
  }

  .badageAndText{
    display: inline-block;
    margin-left: 63px;

    p{
      font-family: "FF Nuvo Web Pro";
      font-weight: bold;
      margin-left: 40px;
    }

  }

}

.badageText{
  padding-top: 25px;

}

.divider{
  background-image: url('/assets/home/growthBorderLine.png');
  background-repeat: repeat;
  height: 27px;
  margin-top: 15px;
}

.bottomRow{
  text-align: center;
  font-family: georgia;
}



















